

<div class="content">
    <h2>All Rentals:</h2>

    {{#if found}}
        <div class="rentals pack">
            {{#each data}}
            <div class="meals">
                <img src="/img/{{this.img}}"> <br><br>
                <span id="headline"><b>headline :</b> {{this.headline}}<br></span>
                <span id="numSleep"><b># of sleep :</b> {{this.numSleeps}}<br></span>
                <span id="numBathrooms"><b>{{this.numBathrooms}}</b><br></span>
                <span id="pricePerNight"><b>Price per night:</b> {{this.pricePerNight}}<br></span>
                <span id="city"><b>city : {{this.city}}</b><br></span>
                <span id="province"><b>province : {{this.province}}</b><br></span>
                <span id="imageUrl"><b>image : {{this.imageUrl}}</b><br></span>
                <span id="featuredRental"><b>featured Rental : {{this.featuredRental}}</b><br></span>
            </div>
            {{/each}}
        </div>
    {{else}}
        <h3>There are currently no rental.</h3>
    {{/if}}
     
    <br><br>

</div>